/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace'Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
	font-family: 'Syne Mono', monospace;
    background-color: #D7D392;
}
.funky-text {color: #919191;

text-align: center;

font-style: italic;
}

.header-texts {color: #919191;
font-family: 'Syne Mono', monospace;
text-align: left;

font-style: normal;
}

.resume-main {
	background-color: #E0DDAA;
}

.resume-aside {
	background-color: #919191;
	border-color: #C1C1C1 !important;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: brown;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

.white-texts {
	color: #E0DDAA;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.5em;
}
.language-level {
	color: #E0DDAA;
	border-color: brown!important;
}
.language-progress {
	background-color: #E0DDAA !important;
}

.language-texts {
	color: black;
}

.text-position{
	position: relative; 
	left: -4.2em;
	top: 1.5em;
}
.text-position2{
	position: relative; 
	left: -1em;
	top: 1em;
}
